.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.links-list-item {
    font-size: 18px;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.link_active {
    text-decoration: none;
}

.links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    width: 136px;
    height: 103px;
}

.address {
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: end;
    font-size: 18px;
    line-height: 24.3px;
}

.header__address {
    max-width: 240px;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url('../images/cover.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    background-color: black;
    opacity: 60%;
    z-index: 0;
    inset: 0;
    width: 100%;
    height: 100%;
}

.cover__title {
    position: relative;
    z-index: 1;
    font-weight: 700px;
    font-style: bold;
    font-size: 100px;
    text-transform: uppercase;
    min-height: 385px;
    line-height: 115%;
    color: #fff;
}

.aligned-text {
    display: block;
    letter-spacing: 30px;
}

.aligned-text_left {
    padding-top: 166px;
    padding-left: 50px;
    
}

.aligned-text_center {
    padding-top: 21px;
    padding-left: 380.5px;
   
}

.aligned-text_right {
    padding-top: 21px;
    padding-left: 663px;
    
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 106px 50px 50px;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    word-spacing: 19px;
}

.cover__description-button {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    background: transparent;
    border-color: #fff;
    border-width: 1px;
    padding: 12px 32px 11px 31px

}

.lots {
    margin: 180px 24px 120px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 29px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    position: relative;
    width: 334px;
    min-height: 596px;
    color: #fff;
    padding: 48px 40px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-color: #000;
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-color: #000;
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-color: #000;
    background-position: center;
    background-size: cover;
}

.card-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
}

.card__title {
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 120%;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.card__text {
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 30px;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.about {
    margin: 120px 24px 180px 24px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 1fr;

}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 47px;
    margin-top: 35px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 136px;
    padding-left: 25px;
}

.about__text {
    width: 693px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-top: 100px;
    padding-left: 25px;
    gap: 24px;  
    text-align: left;   
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__address {
    justify-self: center;
    width: 264.5px;
}

.footer__menu-list {
    list-style-type: none;
    text-align: center;
}

.footer__social-list-item {
    display: flex;
    width: 240px;
    list-style-type: none;
    gap: 48px;
    margin-left: 77px;
}